In [1]:
import pandas as pd
from pathlib import Path

In [5]:
college_data = Path("../College Scorecard Data/Most-Recent-Cohorts-Institution.csv")

college_df = pd.read_csv(college_data)
college_df.head()

/var/folders/22/snz0rd_n7r932h7ms0ljx2q40000gn/T/ipykernel_13520/8421027.py:3: DtypeWarning: Columns (9,1537,1540,1542,1606,1608,1614,1615,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1690,1692,1697,1700,1725,1726,1727,1728,1729,1743,1815,1816,1817,1818,1823,1824,1830,1831,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1909,1910,1911,1912,1913,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1983,1984,2376,2377,2403,2404,2495,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2528,2529,2530,2958,3215,3231,3235,3236) have mixed types. Specify dtype option on import or set low_memory=False.
  college_df = pd.read_csv(college_data)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,COUNT_WNE_MALE0_P11,COUNT_WNE_MALE1_P11,GT_THRESHOLD_P11,MD_EARN_WNE_INC1_P11,MD_EARN_WNE_INC2_P11,MD_EARN_WNE_INC3_P11,MD_EARN_WNE_INDEP0_P11,MD_EARN_WNE_INDEP1_P11,MD_EARN_WNE_MALE0_P11,MD_EARN_WNE_MALE1_P11
0,100654,100200.0,1002.0,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,...,800.0,777.0,0.6250,36650.0,41070.0,47016.0,38892.0,41738.0,38167.0,40250.0
1,100663,105200.0,1052.0,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu/,https://tcc.ruffalonl.com/University of Alabam...,...,1811.0,1157.0,0.7588,47182.0,51896.0,54368.0,50488.0,51505.0,46559.0,59181.0
2,100690,2503400.0,25034.0,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,https://www.amridgeuniversity.edu/,https://www2.amridgeuniversity.edu:9091/,...,75.0,67.0,0.5986,35752.0,41007.0,NaN,NaN,38467.0,32654.0,49435.0
3,100706,105500.0,1055.0,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu/,finaid.uah.edu/,...,810.0,802.0,0.7810,51208.0,62219.0,62577.0,55920.0,60221.0,47787.0,67454.0
4,100724,100500.0,1005.0,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu/,www.alasu.edu/cost-aid/tuition-costs/net-price...,...,1224.0,1049.0,0.5378,32844.0,36932.0,37966.0,34294.0,31797.0,32303.0,36964.0

In [8]:
college_df.columns

Index(['UNITID', 'OPEID', 'OPEID6', 'INSTNM', 'CITY', 'STABBR', 'ZIP',
       'ACCREDAGENCY', 'INSTURL', 'NPCURL',
       ...
       'COUNT_WNE_MALE0_P11', 'COUNT_WNE_MALE1_P11', 'GT_THRESHOLD_P11',
       'MD_EARN_WNE_INC1_P11', 'MD_EARN_WNE_INC2_P11', 'MD_EARN_WNE_INC3_P11',
       'MD_EARN_WNE_INDEP0_P11', 'MD_EARN_WNE_INDEP1_P11',
       'MD_EARN_WNE_MALE0_P11', 'MD_EARN_WNE_MALE1_P11'],
      dtype='object', length=3305)

In [10]:
pd.options.display.max_columns = None
college_df.columns

Index(['UNITID', 'OPEID', 'OPEID6', 'INSTNM', 'CITY', 'STABBR', 'ZIP',
       'ACCREDAGENCY', 'INSTURL', 'NPCURL',
       ...
       'COUNT_WNE_MALE0_P11', 'COUNT_WNE_MALE1_P11', 'GT_THRESHOLD_P11',
       'MD_EARN_WNE_INC1_P11', 'MD_EARN_WNE_INC2_P11', 'MD_EARN_WNE_INC3_P11',
       'MD_EARN_WNE_INDEP0_P11', 'MD_EARN_WNE_INDEP1_P11',
       'MD_EARN_WNE_MALE0_P11', 'MD_EARN_WNE_MALE1_P11'],
      dtype='object', length=3305)

In [4]:
texas_college_df = college_df.loc[college_df['STABBR'] == "TX", college_df.columns]
texas_college_df

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,COUNT_WNE_MALE0_P11,COUNT_WNE_MALE1_P11,GT_THRESHOLD_P11,MD_EARN_WNE_INC1_P11,MD_EARN_WNE_INC2_P11,MD_EARN_WNE_INC3_P11,MD_EARN_WNE_INDEP0_P11,MD_EARN_WNE_INDEP1_P11,MD_EARN_WNE_MALE0_P11,MD_EARN_WNE_MALE1_P11
3091,222178,353700.0,3537.0,Abilene Christian University,Abilene,TX,79699,Southern Association of Colleges and Schools C...,www.acu.edu/,https://www.highered.texas.gov/apps/NPC/?Fice=...,...,666.0,616.0,0.7457,48343.0,51268.0,53970.0,51242.0,52500.0,43777.0,59331.0
3092,222567,353900.0,3539.0,Alvin Community College,Alvin,TX,77511-4898,Southern Association of Colleges and Schools C...,www.alvincollege.edu/,www.alvincollege.edu/financial-aid/netprice/np...,...,410.0,228.0,0.5950,35920.0,46242.0,57190.0,38324.0,41233.0,35739.0,49577.0
3093,222576,354000.0,3540.0,Amarillo College,Amarillo,TX,79109,Southern Association of Colleges and Schools C...,www.actx.edu/,https://www.actx.edu/fin/net-price-calculator,...,1623.0,1036.0,0.6040,36078.0,45100.0,44133.0,39673.0,38534.0,34394.0,48891.0
3094,222628,2259400.0,22594.0,Amberton University,Garland,TX,75041-5595,Southern Association of Colleges and Schools C...,www.amberton.edu/,helios.amberton.edu/index.html,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3095,222822,666100.0,6661.0,Angelina College,Lufkin,TX,75902-1768,Southern Association of Colleges and Schools C...,www.angelina.edu/,www.collegeforalltexans.com/apps/collegecosts....,...,929.0,552.0,0.5520,32796.0,42746.0,NaN,35653.0,34749.0,30392.0,43711.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6422,45897307,10145908.0,1459.0,Strayer University-San Antonio,San Antonio,TX,78216-5768,NaN,www.strayer.edu/campus-locations/texas/san-ant...,NaN,...,8998.0,4368.0,0.6460,34830.0,56738.0,71830.0,38396.0,43539.0,39716.0,51770.0
6423,45897309,145993.0,1459.0,Strayer University - Northwest Houston Campus,Houston,TX,77064-5768,NaN,www.strayer.edu/campus-locations/texas/northwe...,NaN,...,8998.0,4368.0,0.6460,34830.0,56738.0,71830.0,38396.0,43539.0,39716.0,51770.0
6431,47503305,4208603.0,42086.0,Relay Graduate School of Education - Houston,Houston,TX,77036,Middle States Commission on Higher Education,relay.edu/location/relay-houston,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6437,47503311,4208611.0,42086.0,Relay Graduate School of Education - San Antonio,San Antonio,TX,78212,Middle States Commission on Higher Education,relay.edu/location/relay-san-antonio,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6438,47503312,4208612.0,42086.0,Relay Graduate School of Education - Dallas-Fo...,Dallas,TX,75232,Middle States Commission on Higher Education,relay.edu/location/relay-dallas-fort-worth,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
tx_reduced_df = texas_college_df[["INSTNM", "CITY", "STABBR", "ZIP", "CONTROL", "LATITUDE", "LONGITUDE", 
                                  "UGDS", "COSTT4_A", "COSTT4_P", "TUITIONFEE_IN", "TUITIONFEE_OUT", "ADM_RATE" ]]
tx_reduced_df.head()

,INSTNM,CITY,STABBR,ZIP,CONTROL,LATITUDE,LONGITUDE,UGDS,COSTT4_A,COSTT4_P,TUITIONFEE_IN,TUITIONFEE_OUT,ADM_RATE
3091,Abilene Christian University,Abilene,TX,79699,2,32.468943,-99.709797,3141.0,55221.0,NaN,40500.0,40500.0,0.6579
3092,Alvin Community College,Alvin,TX,77511-4898,1,29.396244,-95.240671,3151.0,11551.0,NaN,1706.0,4010.0,NaN
3093,Amarillo College,Amarillo,TX,79109,1,35.187839,-101.846988,7271.0,10912.0,NaN,2136.0,4704.0,NaN
3094,Amberton University,Garland,TX,75041-5595,2,32.859931,-96.653020,114.0,NaN,NaN,NaN,NaN,NaN
3095,Angelina College,Lufkin,TX,75902-1768,1,31.287444,-94.731625,2453.0,13973.0,NaN,3120.0,6150.0,NaN

In [13]:
tx_reduced_df = tx_reduced_df.rename(columns= {"INSTNM": "Institution Name", "CITY": "City", "STABBR": "State", 
                                               "ZIP": "Zip Code", "CONTROL": "Type", "LATITUDE": "Latitude", 
                                               "LONGITUDE": "Longitude", "UGDS": "Number of Undergraduate Students", 
                                               "COSTT4_A": "Average Cost for Academic Year Institution", 
                                               "COSTT4_P": "Average Cost for Program Year Institution", 
                                               "TUITIONFEE_IN": "Tuition Fee for In-District Students", 
                                               "TUITIONFEE_OUT": "Tuition Fee for Out-of-State Students", "ADM_RATE": "Admission Rate"})
tx_reduced_df.head()

,Institution Name,City,State,Zip Code,Type,Latitude,Longitude,Number of Undergraduate Students,Average Cost for Academic Year Institution,Average Cost for Program Year Institution,Tuition Fee for In-District Students,Tuition Fee for Out-of-State Students,Admission Rate
3091,Abilene Christian University,Abilene,TX,79699,2,32.468943,-99.709797,3141.0,55221.0,NaN,40500.0,40500.0,0.6579
3092,Alvin Community College,Alvin,TX,77511-4898,1,29.396244,-95.240671,3151.0,11551.0,NaN,1706.0,4010.0,NaN
3093,Amarillo College,Amarillo,TX,79109,1,35.187839,-101.846988,7271.0,10912.0,NaN,2136.0,4704.0,NaN
3094,Amberton University,Garland,TX,75041-5595,2,32.859931,-96.653020,114.0,NaN,NaN,NaN,NaN,NaN
3095,Angelina College,Lufkin,TX,75902-1768,1,31.287444,-94.731625,2453.0,13973.0,NaN,3120.0,6150.0,NaN